Source: blankon-icon-theme
Section: gnome
Priority: optional
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Build-Depends: debhelper (>= 7), python-scour, icon-naming-utils
Standards-Version: 3.9.1
Vcs-Bzr: http://dev.blankonlinux.or.id/bzr/pattimura/blankon-icon-theme

Package: blankon-icon-theme
Architecture: all
Depends: libgtk2.0-0
Description: BlankOn Icon Theme for BlankOn Linux
 This icon theme provides a scalable group of icons to be used by GTK+ 2.x
 applications like GNOME 2, this distributed for BlankOn 7 Pattimura.


